.corpo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.cabeçalho,
.curiosidades,
.rodape {
    padding: 10px 50px;
}

.capa__imagem {
    width: 100%;
}

.titulo {
    color: black;
    font-size: 2rem;
    margin: 20px;
    text-align: center;
}

.subtitulo {
    font-size: 1.8rem;
    color: gray;
    margin: 15px;
}

.paragrafo {
    text-align: justify;
}

.rodape {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rodape__tabela {
    background-color: whitesmoke;
}

.rodape__coluna {
    border: 1px solid #000000;
    padding: 16px 30px;
}

.rodape__imagem {
    width: 400px;
    height: 250px;
}