.corpo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.capa__imagem {
    width: 100%;
}

.cabeçalho,
.curiosidades,
.rodape {
    padding: 10px 20px;
}

.titulo {
    color: black;
    font-size: 1.9rem;
    margin: 20px;
    text-align: center;
}

.subtitulo {
    font-size: 1.7rem;
    color: gray;
    margin: 15px;
}

.paragrafo {
    text-align: justify;
}

.rodape {
    align-items: center;
    background-color: #afafaf;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rodape__div {
    width: 90%;
}

.rodape__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rodape__subtitulo {
    color: white;
}

.rodape__imagem {
    width: 400px;
    height: 250px;
}